doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Valerio Como\'s Home')
        meta(name='author', content='Valerio Como')

        title Valerio Como's Home

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Valerio Como
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/me.jpg', alt='Valerio Como')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='https://medium.com/@valeriocomo', target="_blank") Blog                        

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Valerio 
                        span.text-primary Como
                    .subheading.mb-5
                        | Born and bread in 74017, based in Bari · Italy 
                        a(href='mailto:valeriocomo@gmail.com') mail me
                    p.lead.mb-5
                        | I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/valeriocomo', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://www.github.com/valeriocomo', target="_blank")
                            i.fab.fa-github
                        a.social-icon(href='https://www.x.com/valeriocomo', target="_blank")
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.facebook.com/valeriocomo', target="_blank")
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Project Manager
                            .subheading.mb-3 Dipartimento Trasformazione Digitale
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary July 2022 - July 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Lead Developer
                            .subheading.mb-3 Apuliasoft
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary July 2022 - July 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lead Developer
                            .subheading.mb-3 Apuliasoft
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary November 2019 - July 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Apuliasoft
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary November 2015 - November 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Freelancer
                            p
                                | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                        .flex-shrink-0
                            span.text-primary October 2013 - November 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 R&D
                            .subheading.mb-3 Meeting Points
                            p
                                | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                        .flex-shrink-0
                            span.text-primary October 2012 - December 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Intern
                            .subheading.mb-3 Engineering Ingegneria Informatica
                            p
                                | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                        .flex-shrink-0
                            span.text-primary April 2011 - October 2011

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Bari
                            .subheading.mb-3 Master's degree
                            div Computer Science
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary December 2009 - December 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Bari
                            .subheading.mb-3 Bachelor's degree
                            //- p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary September 2005 - December 2009
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Alber Einstein HS @ Mottola
                            .subheading.mb-3 Liceo Scientifico
                            //- p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary September 2000 - July 2005                            

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Methodology and more
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git Workflows
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Microservices
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Monorepo
                        li
                            span.fa-li
                                i.fas.fa-check
                            | TDD                            

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        |Apart from being a developer, I like to play basketball (despite my heigth). I'm interested in Personal Finance and in good wine. In summer time, I like a lot to go to the beach.
                    p.mb-0
                        | Aspiring tech speaker, I love attending tech conferences.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | Software architecture - educative.io - 
                        //-     a(href='https://less.works/certificates/valerio-como-95637545460', target="_blank") certificate
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Less Basics - LeSS Company BV - 
                            a(href='https://less.works/certificates/valerio-como-95637545460', target="_blank") certificate
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | CSPO - ScrumAlliance     
                            a(href='https://certification.scrumalliance.org/accounts/890101-valerio-como/certifications/1010703-cspo', target="_blank") certificate
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | MongoDB for NodeJS Developer - MongoDB University
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - Start-up Weekend Bari 2013

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')